<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
    <display-name>RicercaJs</display-name>
  
    <context-param>
        <param-name>log4j2Configuration</param-name>
        <param-value>src/log4j2.xml</param-value>
    </context-param>
  
    <filter>
  		<filter-name>MyExceptionFilter</filter-name>
  		<filter-class>test.MyExceptionFilter</filter-class>
    </filter>
  
  	<filter-mapping>
    	<filter-name>MyExceptionFilter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
    <welcome-file-list>
    	<welcome-file>ServletUser</welcome-file>
    </welcome-file-list>
</web-app>